* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container {
  background-color: #eeeeee;
}

header {
  padding: 20px 30px;
  height: 90px;
  background-color: #333;
  line-height: 3em;
  color: white;
}
i{
  color: #fed330;
  font-size: 25px;
}
header span{
  font-family: 'Long Cang', cursive;
  font-size: 48px;
}

a {
  text-decoration: none;
}

header a {
  float:right;
  color: white;
  padding: 0px 10px;
}

header a:hover {
  color: #fed330;
}
.head{
  display: flex;
  justify-content: center;
  height: 1000px;
  padding: 300px 0px;
  color: white;
  text-align: center;
  background: url(./images/frame.jpg) center center/cover;
  overflow: auto;
}
.content{
  max-width: 800px;
}

.head h1 , p {
  margin-bottom: 20px;
}
.head h1{
  font-size: 48px;
}
.head span{
  color: #fed330;
  font-weight: normal;
}
.head p{
  font-size: 28px;
}
.offer , .elements{
  padding: 80px 20px 20px;
}


.tittle{
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 30px;
}


.offer-examples{
  display: flex;
  justify-content: center;
}
.offer-example{
  min-width :10vw;
  max-width: 30vw;
  height: auto;
  margin: 50px 15px;
  background-color: white;
  height: max-content;
}

.offer-example img{
  width: 100%;
}
.description{
  padding: 30px;
  text-align: center;
}

.separation{
  background-color: #333;
  height: 2px;
  width: 50px;
  margin: 0px auto 20px;
}
/* team */
.team{
  padding: 50px 0px;
  display: flex;
  width: auto;
  height: 750px;
}
.team-img{
  background: url(./images/team.jpg) center center/cover;
  width: 50%;
  height: 100%;
}
.team-text{
  color: white;
  background-color: #333;
  padding: 50px;
  width: 50%;
  overflow: auto;
}
.team-text span{
  color: #fed330;
  font-weight: normal;
}

.team-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 20px 0px;
  line-height: 30px;
}
.element p{
  width: 0.8cap;
}
.element-img{
  width: 0.2cap;
  margin: 0px 30px;
} 
.person-1, .person-2{
  width: 50px;
  border-radius: 100%;
}
.house-3{
  width: 50px;
  border-radius: 40%;
}
.element i {
  color: black;
  font-size: 22px;
}

.element{
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 20px 10px;
  margin: 20px 0px;
}


/* contact */

/* footer */
footer {
  height: 180px;
  background-color: #444;
  color: white;
  text-align: center;
  padding-top: 60px;
}
