* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container {
  background-color: #eeeeee;
}

header {
  padding: 20px 30px;
  height: 90px;
  background-color: #333;
  line-height: 3em;
  color: white;
}
i{
  color: #fed330;
  font-size: 25px;
}
header span{
  font-family: 'Long Cang', cursive;
  font-size: 48px;
}

a {
  text-decoration: none;
}

header a {
  float:right;
  color: white;
  padding: 0px 10px;
}

header a:hover {
  color: #fed330;
}
.head{
  display: flex;
  justify-content: center;
  height: 600px;
  padding: 100px 0px;
  color: white;
  text-align: center;
  background: url(./images/frame.jpg) center center/cover;
  overflow: auto;
}
.content{
  max-width: 800px;
}

.head h1 , p {
  margin-bottom: 20px;
}
.head h1{
  font-size: 48px;
}
.head span{
  color: #fed330;
  font-weight: normal;
}
.head p{
  font-size: 28px;
}
.offer{
  padding: 80px 20px 20px;
  height: fit-content;
}
.offer h1{
  font-weight: normal;
  font-size: 32px;
}

.offer-examples{
  display: flex;
  justify-content: center;
}
.offer-example{
  min-width :10vw;
  max-width: 30vw;
  height: auto;
  margin: 50px 15px;
  background-color: white;
  height: max-content;
}

.offer-example img{
  width: 100%;
}
.description{
  padding: 30px;
  text-align: center;
}

.separation{
  background-color: #333;
  height: 2px;
  width: 50px;
  margin: 0px auto 20px;
}

footer {
  height: 180px;
  background-color: #444;
  color: white;
  text-align: center;
  padding-top: 60px;
}
